<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <!-- <base href="https://ishida83.github.io/card-hub/" /> -->
  </head>
  <body>
    <aside class="mdc-drawer mdc-drawer--dismissible">
      <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Mail</h3>
        <h6 class="mdc-drawer__subtitle">email@material.io</h6>
      </div>
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page" tabindex="0">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
            <span class="mdc-list-item__text">Inbox</span>
          </a>
          <a class="mdc-list-item" href="#">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
            <span class="mdc-list-item__text">Outgoing</span>
          </a>
          <a class="mdc-list-item" href="#">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
            <span class="mdc-list-item__text">Drafts</span>
          </a>
        </nav>
      </div>
    </aside>
    <div class="main-content mdc-drawer-app-content">
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
              aria-label="Open navigation menu">menu</button>
            <span class="mdc-top-app-bar__title">Card Hub</span>
          </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
              aria-label="Favorite">favorite</button>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
            <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
              aria-label="Options">more_vert</button>
          </section>
        </div>
      </header>

      <video id="webcam" autoplay playsinline></video>
      <canvas id="canvas"></canvas>
      <canvas id="canvasOutput"></canvas>
      <div class="output">
        <img id="photo" alt="">
      </div>

      <!-- <button class="mdc-button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Start Camera</span>
      </button> -->

      <div class="video-options">
        <select name="" id="" class="custom-select">
          <option value="">Select camera</option>
        </select>
        <input type="range">
        
      </div>

      <!-- <div>
        <button id="btn-front">Front</button>
        <button id="btn-back">Back</button>
      </div> -->

      <!-- <button class="foo-button mdc-button">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Take Picture</span>
      </button> -->






      <!-- <div class="mdc-card element-card wind">
        <div class="mdc-card__media">
          <h1 class="mdc-typography--headline4">Wind</h1>
          <h2 class="mdc-typography--headline6">Stormy weather ahead.</h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div> -->


      <button class="mdc-fab mdc-fab--mini camera-button" id="demo-absolute-fab" aria-label="Take Photo" disabled>
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">camera</span>
      </button>

      <button class="mdc-fab foo-button" id="demo-absolute-fab2" aria-label="Start Cam">
        <div class="mdc-fab__ripple"></div>
        <span class="mdc-fab__icon material-icons">videocam</span>
      </button>



      <!-- <div class="mdc-touch-target-wrapper">
        <button class="mdc-fab mdc-fab--mini mdc-fab--touch">
          <div class="mdc-fab__ripple"></div>
          <span class="material-icons mdc-fab__icon">add</span>
          <div class="mdc-fab__touch"></div>
        </button>
      </div> -->
      

    </div>

    <div class="mdc-snackbar">
      <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
        <div class="mdc-snackbar__label" aria-atomic="false">
          Can't send photo. Retry in 5 seconds.
        </div>
        <div class="mdc-snackbar__actions" aria-atomic="true">
          <button type="button" class="mdc-button mdc-snackbar__action">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Retry</span>
          </button>
        </div>
      </div>
    </div>


    <!-- <aside class="mdc-drawer">
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-list-item--activated" href="#" aria-current="page">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
            <span class="mdc-list-item__text">Inbox</span>
          </a>
          <a class="mdc-list-item" href="#">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
            <span class="mdc-list-item__text">Outgoing</span>
          </a>
          <a class="mdc-list-item" href="#">
            <span class="mdc-list-item__ripple"></span>
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
            <span class="mdc-list-item__text">Drafts</span>
          </a>
        </nav>
      </div>
    </aside> -->


    <script type='text/javascript'>
      mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));
      const fabRipple = new mdc.ripple.MDCRipple(document.querySelector('.mdc-fab'));
      // const list = mdc.list.MDCList.attachTo(document.querySelector('.mdc-list'));
      const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
      const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.querySelector('.mdc-top-app-bar'));
      const snackbar = mdc.snackbar.MDCSnackbar.attachTo(document.querySelector('.mdc-snackbar'));


      topAppBar.setScrollTarget(document.querySelector('.mdc-drawer-app-content'));
      topAppBar.listen('MDCTopAppBar:nav', () => {
        drawer.open = !drawer.open;
      });

      // list.wrapFocus = true;

      // const listEl = document.querySelector('.mdc-drawer .mdc-list');
      // const mainContentEl = document.querySelector('.main-content');

      // listEl.addEventListener('click', (event) => {
      //   mainContentEl.querySelector('input, button').focus();
      // });

      // document.body.addEventListener('MDCDrawer:closed', () => {
      //   mainContentEl.querySelector('input, button').focus();
      // });

      const listEl = document.querySelector('.mdc-drawer .mdc-list');
      const mainContentEl = document.querySelector('.main-content');

      listEl.addEventListener('click', (event) => {
        drawer.open = false;
      });

      document.body.addEventListener('MDCDrawer:closed', () => {
        mainContentEl.querySelector('input, button').focus();
      });

    </script>
    <script src='./javascripts/polyfill.js' type='text/javascript' async></script>
    <script src="./javascripts/opencv.js" async></script>
    <script src="./javascripts/cv-app.js" defer></script>
    <script src='./javascripts/app.js' type='text/javascript' defer></script>


  </body>
</html>
